/*CSS for Command Central */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 6px;
    padding-bottom: 6px;
}
.navbar li { display: inline; }
a.nav:link,a.nav:visited {
    font-weight: bold;
    color: #FFFFFF;
    background-color: #0066CC;
    text-align: center;
    padding: 6px;
    text-decoration: none;
    text-transform: uppercase;
}
a.nav:hover,a.nav:active { background-color: #0066FF; }

/*CSS for Messaging */
.messages {
    max-height: 400px;
    width: 300px;
    overflow: auto;
    padding-bottom: 20px;
}

.helpMesssage.error {
    opacity: 1;
    color: red;
    -webkit-transition: opacity .25s linear;
}

.helpMesssage.info {
    opacity: 1;
    color: green;
    -webkit-transition: opacity .25s linear;
}

.helpMesssage.hidden {
    opacity: 0 !important;
    -webkit-transition: opacity .25s linear;
}

.message .public, .privateChat { color: black; }
.message .private { color: red; }
.message .server { color: green; }
.message .action { color: purple; }

.roomList {
    float: left;
    border-right: 3px solid;
    width: 18%;
    height: 650px;
}

.chat {
    margin: 0;
    float: right;
    width: 79%;
}

/* CSS for Activity Stream */
.activities {
    max-height: 460px;
    width: 350px;
    overflow: auto;
    padding-bottom: 20px;
}

.activity {
    border-bottom: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
}

.activity:last-child {
    border-bottom: 0;
}

.activity .description {
    text-overflow: ellipsis;
    width: 330px;
    white-space: nowrap;
    overflow:hidden;
}


/* Overlay for Plone */

.fb-overlay-content {
    padding: 1em;
    background-color: #FFFFFF;
    border: 1px solid #999999;
    box-shadow: 0 0 3em 0.5em #666666;
    white-space: normal;
    overflow-y: auto;
}
