<!doctype html>
<html lang="en" ng-app="activityStream">
<head>
  <meta charset="UTF-8">
  <title>FireBase Activity Stream Demo</title>
  <link rel="stylesheet" type="text/css" href="./fb_activity.css">
  <script src="./dist/jquery.min.js"></script>
  <!-- <script src="./dist/angular.min.js"></script> -->
  <script src="./dist/angular.unstable.min.js"></script>
</head>
<body ng-controller="ActivityStreamController">
  <h1>Activity Stream</h1>
  <div>
    <label for="username">Username: </label><input type="text" ng-model="username" ng-change="updateUsername()" id="username">
  </div>

  <div class="activities" id="activitiesDiv">
    <details class="activity" ng-cloak ng-repeat="activity in activities | activityFilter:this">
      <summary>
        <strong>Message:</strong> {{activity.message}}
        <div>
          <div><strong>User ID:</strong> {{activity.userID}}</div>
          <div><strong>Change Time:</strong> {{activity.time | date:'yyyy-MM-dd HH:mm:ss Z'}}</div>
        </div>
      </summary>
      <div class="details">
        <div class="description" ng-if="activity.description"><strong>Description:</strong> {{activity.description}}</div>
        <div><strong>Expires In:</strong> {{activity.expiration | timeFromNow}}</div>
        <div class="changes" id="changesDiv">
          <div ng-cloak ng-repeat="change in activity.changes">
            <span ng-switch="$first && {{activity.changes | objLenIsOne}}">
              <details ng-switch-when="true" class="change" open>
                <summary>
                  <strong>Change Message:</strong> {{change.message}}
                </summary>
                <div class="details">
                  <div><strong>Object UID:</strong> {{change.uid}}</div>
                  <div><strong>Event Type:</strong> {{change.eventType}}</div>
                  <div class="description" ng-if="change.description"><strong>Change Description:</strong> {{change.description}}</div>
                </div>
              </details>

              <details ng-switch-default class="change">
                <summary>
                  <strong>Change Message:</strong> {{change.message}}
                </summary>
                <div class="details">
                  <div><strong>Object UID:</strong> {{change.uid}}</div>
                  <div><strong>Event Type:</strong> {{change.eventType}}</div>
                  <div class="description" ng-if="change.description"><strong>Change Description:</strong> {{change.description}}</div>
                </div>
              </details>
            </span>
          </div>
        </div>
      </div>
    </details>
  </div>
  
  <button ng-click="markSeen()">Mark All as Read</button>

  <script src="https://cdn.firebase.com/v0/firebase.js"></script>
  <script src="./dist/bower_components/angularFire/angularFire.js"></script>
  <script src="./fb_activity.js"></script>
  <script src="./jquery.cookie.js"></script>
</body>
</html>