.messages {
	height: 400px;
	width: 300px;
	overflow: auto;
}

.helpMesssage.error {
	opacity: 1;
	color: red;
	-webkit-transition: opacity .25s linear;
}

.helpMesssage.info {
	opacity: 1;
	color: green;
	-webkit-transition: opacity .25s linear;
}

.helpMesssage.hidden {
	opacity: 0 !important;
	-webkit-transition: opacity .25s linear;
}

.message .public, .privateChat { color: black; }
.message .private { color: red; }
.message .server { color: green; }
.message .action { color: purple; }

.roomList {
	float: left;
	border-right: 3px solid;
	width: 17%;
	height: 650px;
}

.chat {
	margin: 0;
	float: right;
	width: 80%;
}
