<!doctype html>
<html lang="en" ng-app="messaging">
<head>
  <meta charset="UTF-8">
  <title>FireBase messaging Demo</title>
  <link rel="stylesheet" type="text/css" href="./fb_messaging.css">
  <script src="./dist/jquery.min.js"></script>
  <script src="./dist/angular.min.js"></script>
</head>
<body ng-controller="MessagingController">

  <div>
    <label for="">Your name: </label><input type="text" ng-model="username">
  </div>

  <div>
    Logged in users:
      <div class="user" ng-cloak ng-repeat="(name, user) in users  | filter: user.online">
              {{name}}
      </div>
  </div>

  <p></p>
  <div id="messagesDiv" style="height:500px;">
    <div ng-cloak ng-repeat="message in messages">
      <em>{{message.from}}: </em>{{message.content}}
    </div>
  </div>
  <form ng-submit="addMessage()">
    <input type="text" ng-model="message" placeholder="Message...">
    <input type="submit" id="submit" value="Send" style="font-size:24px;">
  </form>
  <script src="https://cdn.firebase.com/v0/firebase.js"></script>
  <script src="./dist/bower_components/angularFire/angularFire.js"></script>
  <script src="./fb_messaging.js"></script>
</body>
</html>