<!doctype html>
<html lang="en" ng-app="addActivity">
<head>
  <meta charset="UTF-8">
  <title>FireBase Activity Simulation</title>
  <link rel="stylesheet" type="text/css" href="./fb_feed.css">
  <script src="../static/dist/jquery.min.js"></script>
  <script src="../static/dist/angular.min.js"></script>
  <!--script src="../static/dist/angular.unstable.min.js"></script-->
</head>
<body ng-controller="AddActivityController">
  <h1>Simulate New Activity</h1>
  <form ng-submit="addActivity()" id="activityForm" name="activityForm">
  <h2>Activity General Info</h2>

  <div class="form_control">
    <label for="userID">User ID: </label>
    <input type="text" id="userID" ng-model="userID" required autofocus>
  </div>

  <div class="form_control">
    <label for="message">Activity Message: </label>
    <input id="message" ng-model="message" placeholder="Short Message..." maxlength="150" value='' required></textarea>
  </div>
  
  <div class="form_control">
    <label for="description">Activity Description: </label>
    <textarea id="description" ng-model="description" placeholder="Optional detailed activity description..." rows="6"></textarea>
  </div>
  
  <h2>Change Specific Info</h2>
  <div class="form_control">
    <label for="uid">Plone Object UID: </label>
    <input type="text" id="uid" ng-model="uid" ng-trim="false" value='' required>
  </div>

  <div class="form_control">
    <label for="changeMessage">Activity Message: </label>
    <input id="changeMessage" ng-model="changeMessage" placeholder="Short Message..." maxlength="150" value='' required></textarea>
  </div>
  
  <div class="form_control">
    <label for="changeDescription">Activity Description: </label>
    <textarea id="changeDescription" ng-model="changeDescription" placeholder="Optional detailed activity description..." rows="6"></textarea>
  </div>

  <div class="form_control">
    <label for="eventType">Event Type: </label>
    <select id="eventType" ng-cloak ng-model="eventType" ng-init="eventType = 'modified'" required>
      <option value="modified">Modified</option>
      <option value="added">Added</option>
      <option value="deleted">Deleted</option>
    </select>
  </div>

  <label for="numItems">Number of Items: </label>
  <input type="number" id="numItems" ng-model="numItems" title="Number of Items" placeholder="Item Number" ng-init="numItems = 1">
  For testing purposes, changing this number will add multiple changed items to this activity
  
  <p>
    <input type="submit" id="submit" value="Add Message">
  </p>
  </form>
  
  <script src="https://cdn.firebase.com/v0/firebase.js"></script>
  <script src="../static/dist/bower_components/angularFire/angularFire.js"></script>
  <script src="./fb_feed.js"></script>
  <!--script src="./jquery.cookie.js"></script-->
</body>
</html>