/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.

  "For the best result, angular.js script must be loaded in the head 
  section of the html file; alternatively, the css rule (above) must be 
  included in the external stylesheet of the application." ~ ng-cloak docs
  Unfortunately, ng-cloak is not working correctly even with angular.js in the head,
  however this hack seems to work correctly.
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/*CSS for Command Central */

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 6px;
    padding-bottom: 6px;
}

.navbar li {
    display: inline;
}

a.nav:link, a.nav:visited {
    font-weight: bold;
    background-color: #b5d6ff;
    color: #000000;
    text-align: center;
    padding: 0.6em 0.8em;
    text-decoration: none;
    text-transform: uppercase;
    margin: 2px;
    position: relative;

}

a.nav:hover, a.nav.active,
div.overlay a.nav:hover, div.overlay a.nav:active {
    color: #FFFFFF;
    background-color: #0066CC;
}

h1.fb-cc-title {
    text-align: center;
    background-color: transparent;
    color: #cccccc;
    font-size: 1.4em;
    margin-bottom: 0.5em;
}

/*CSS for Messaging */

.messages {
    height: 280px;
    overflow-y: auto;
    padding: 0.5em 0.5em 1em 0.5em;
    margin: 0 0.5em 1em 0;
    border: 1px solid #c0c0c0;
    background-color: #fffff6;
}

.helpMessage.error {
    opacity: 1;
    color: red;
    -webkit-transition: opacity .25s linear;
}

.helpMessage.info {
    opacity: 1;
    color: green;
    -webkit-transition: opacity .25s linear;
}

.helpMessage.hidden {
    opacity: 0 !important;
    -webkit-transition: opacity .25s linear;
}

/*
.message .public, .privateChat { color: black; }
.message .private { color: red; }
.message .server { color: green; }
.message .action { color: purple; }
*/

.roomList {
    float: left;
    border-right: 3px solid;
    width: 20%;
    height: 380px;
}

.fb-messages-chat {
    margin: 0;
    float: right;
    width: 78%;
}

.whoispresent {
    float: right;
    width: 130px;
    margin-left: 0.5em;
    word-wrap: break-word;
}

input.fb-message-input {
    width: 400px;
}

div.overlay textarea.fb-message-input {
    width: 400px;
}

.chat-sender, .chat-content {
    padding: 0.5em;
    margin: 0.25em 0 0;
}

.chat-sender {
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
    -webkit-font-smoothing: antialiased;
    padding-top: .5em;
}

.chat-content {
    -webkit-border-radius: 5px;
    -moz-border-radius:5px;
    border-radius: 5px;
    max-width: 95%;
    overflow: hidden;
    word-wrap: break-word;
}

.chat-line-own {
    clear: both;
    text-align: right;
    vertical-align: middle;
}

.chat-line-own .chat-sender {
    display: inline-block;
    float: right;
    padding-top: .5em;
}

.user-portrait {
    width: 35px;
    padding-top: .25em;
    vertical-align: middle;
}

.chat-line-own .user-portrait {
    float: right;
}

.chat-line-foreign .user-portrait {
    float: left;
}

.chat-line-own .chat-content {
    display: inline-block;
    float: right;
    background-color: hsl(58, 46%, 67%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#edecce", endColorstr="#d1ce84");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#edecce), to(#d1ce84));
    background-image: -moz-linear-gradient(top, #edecce, #d1ce84);
    background-image: -ms-linear-gradient(top, #edecce, #d1ce84);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #edecce), color-stop(100%, #d1ce84));
    background-image: -webkit-linear-gradient(top, #edecce, #d1ce84);
    background-image: -o-linear-gradient(top, #edecce, #d1ce84);
    background-image: linear-gradient(#edecce, #d1ce84);
    border-color: #d1ce84 #d1ce84 hsl(58, 46%, 62%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
    -webkit-font-smoothing: antialiased;
}

.chat-line-foreign {
    text-align: left;
    clear: both;
}

.chat-line-foreign .chat-sender {
    float: left;
    display: inline-block;
}

.chat-line-foreign .chat-content {
    display: inline-block;
    background-color: hsl(284, 46%, 67%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e4ceed", endColorstr="#bc84d1");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#e4ceed), to(#bc84d1));
    background-image: -moz-linear-gradient(top, #e4ceed, #bc84d1);
    background-image: -ms-linear-gradient(top, #e4ceed, #bc84d1);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4ceed), color-stop(100%, #bc84d1));
    background-image: -webkit-linear-gradient(top, #e4ceed, #bc84d1);
    background-image: -o-linear-gradient(top, #e4ceed, #bc84d1);
    background-image: linear-gradient(#e4ceed, #bc84d1);
    border-color: #bc84d1 #bc84d1 hsl(284, 46%, 62%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
    -webkit-font-smoothing: antialiased;
}

.fb-newroom-input, .fb-newroom-submit {
    width: 100px;
    display: block;
}

.fb-messages-chat h1 {
    margin-top: 0px;
}

.server-message-type {
    font-weight: bold;
}

.user-status-marker {
    font-weight: bold;
}

.user-reference {
    font-style: italic;
}

.room.active {
    font-weight: bold;
}

.more-messages {
    text-align: center;
}

.user-controls {
    padding-top: 5px;
}

@-webkit-keyframes blink {  
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

@-moz-keyframes blink {  
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

@-o-keyframes blink {  
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

.room.unseen {
    -webkit-animation-name: blink;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    -webkit-animation-duration: 1s;
    -moz-animation-name: blink;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    -o-animation-name: blink;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    -o-animation-duration: 1s;
}

/* CSS for Activity Stream */

.activities {
    height: 280px;
    width: 550px;
    overflow-y: auto;
    padding-bottom: 20px;
}

.activity:not(:last-child) {
    border-bottom: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
}

.activity:last-child {
    border-bottom: 0px;
}

.activity .description {
    text-overflow: ellipsis;
    width: 330px;
    white-space: nowrap;
    overflow:hidden;
}

.description {
    width: 450px;
    word-wrap: break-word;
}

.users {
    margin-top: 1em;
}

.activity-details { 
    margin-left: 20px; 
    display: none;
}

.change-details {
    margin-left: 25px;
}

.change-details:not(.open) {
    display: none;
}

.activity-summary {
    margin-left: 20px;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    float: left;
    margin: 5px;
}

/* CSS for Broadcasts */

.broadcasts {
    height: 280px;
    overflow-y: auto;
    padding-bottom: 20px;
    max-width: 300px;
}

.broadcast:not(:last-child) {
    border-bottom: 1px solid;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

/* CSS for Create Broadcast */

.fb_create_broadcast .form_control {
    margin: 1em;
}

.fb_create_broadcast .message * {
    vertical-align: middle;
}

/* Overlay for Plone */

.fb-overlay-content {
    height: 450px;
    width: 600px;
    padding: 1em;
    background-color: #FFFFFF;
    border: 1px solid #999999;
    box-shadow: 0 0 3em 0.5em #666666;
    white-space: normal;
}

.fb-close {
    z-index: 100;
}

/* Needed for the simulate activity only */

a.rnav:link,a.rnav:visited {
    font-weight: bold;
    background-color: #FF6666;
    color: #000000;
    text-align: center;
    padding: 0.6em 0.8em;
    text-decoration: none;
    text-transform: uppercase;
}
a.rnav:hover, a.rnav:active, a.rnav.active,
div.overlay a.rnav:hover, div.overlay a.rnav:active {
    color: #FFFFFF;
    background-color: red;
}

.fb_simulate_activity .form_control {
    margin: 1em;
}

/* notification badges
   css taken from http://cssdeck.com/labs/menu-with-notification-badges
 */

.nav .badge {
  display: block;
  position: absolute;
  top: -10px;
  right: 2px;
  line-height: 16px;
  height: 16px;
  padding: 0 5px;
  font-family: Arial, sans-serif;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.25);
  border: 1px solid;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
}

.nav .badge {
  background: #67c1ef;
  border-color: #30aae9;
  background-image: -webkit-linear-gradient(top, #acddf6, #67c1ef);
  background-image: -moz-linear-gradient(top, #acddf6, #67c1ef);
  background-image: -o-linear-gradient(top, #acddf6, #67c1ef);
  background-image: linear-gradient(to bottom, #acddf6, #67c1ef);
}

.nav .badge.green {
  background: #77cc51;
  border-color: #59ad33;
  background-image: -webkit-linear-gradient(top, #a5dd8c, #77cc51);
  background-image: -moz-linear-gradient(top, #a5dd8c, #77cc51);
  background-image: -o-linear-gradient(top, #a5dd8c, #77cc51);
  background-image: linear-gradient(to bottom, #a5dd8c, #77cc51);
}

.nav .badge.yellow {
  background: #faba3e;
  border-color: #f4a306;
  background-image: -webkit-linear-gradient(top, #fcd589, #faba3e);
  background-image: -moz-linear-gradient(top, #fcd589, #faba3e);
  background-image: -o-linear-gradient(top, #fcd589, #faba3e);
  background-image: linear-gradient(to bottom, #fcd589, #faba3e);
}

.nav .badge.red {
  background: #fa623f;
  border-color: #fa5a35;
  background-image: -webkit-linear-gradient(top, #fc9f8a, #fa623f);
  background-image: -moz-linear-gradient(top, #fc9f8a, #fa623f);
  background-image: -o-linear-gradient(top, #fc9f8a, #fa623f);
  background-image: linear-gradient(to bottom, #fc9f8a, #fa623f);
}
