<div class="roomList">
  <h1>Rooms</h1>
  <span ng-show="!privateChat">* </span><a class="room" href="#!/messaging" ng-click="switchRoom('public')">Public</a>
  <div ng-cloak ng-repeat="room in rooms">
    <span ng-if="!room.remove">
      <span ng-show="privateChatUser == room.username">* </span> 
      <a class="room" href="#!/messaging/private/{{room.username}}" ng-click="switchRoom(room.username)">Private: {{room.username}}</a>
      <input type="submit" data-username="{{room.username}}" ng-click="removeRoom($event)" value="Remove">
    </span>
  </div>
</div>

<div class="fb-messages-chat">
  <h1 ng-bind="heading"></h1>

  <div class="whoispresent">
    <div>
      <label for="username">Your name: </label>
      <span class="myusername">{{username}}</span>
    </div>

    <div class="users">
      <strong>Online users<span ng-bind="numUsers"></span>:</strong>
        <div class="user" ng-cloak ng-repeat="(name, user) in users | onlineFilter:this">
          {{name}}
        </div>
    </div>
  </div>

  <div class="messages" id="messagesDiv" auto-scroll="messages">
    <div class="message" ng-cloak ng-switch on="message.type" ng-repeat="message in messages">
      <div ng-switch-when="public" 
           class="public chat-line-{{{true: 'own', false: 'foreign'}[message.sender == username]}}">
        <div class="chat-sender">{{message.sender}}</div>
        <div class="chat-content" ng-model="message"
          ng-attr-contenteditable="{{message.sender == username}}">{{message.content}}</div>
      </div>
    </div>
  </div>
  
  <form ng-submit="processMessage()">
    <input id="fb-messages-input" class="fb-message-input" type="text" ng-model="message" ng-trim="false" ng-click="helpClass = helpClass.split(' ')[0] + ' hidden'" placeholder="Message..." required>
    <input type="submit" id="submit" value="Send">
    <div class="helpMesssage" ng-class="helpClass" ng-bind="help"></div>
  </form>
  <div ng-bind-html-unsafe="info"></div>
</div>