<div class="roomList">
  <h1>Rooms</h1>
  <h2>Public Rooms</h2>
    <div ng-cloak ng-repeat="room in publicRooms">
      <span ng-show="currentRoomName == room.name">* </span> 
      <a class="room" href="#!/messaging/public/{{room.name}}" ng-click="onRoomSwitch()">{{room.name}}</a>
      <input type="submit" ng-click="removeRoom(room.name)" value="Remove">
    </div>
    <p>
      <input type="text" ng-model="newRoomName">
      <input type="submit" ng-click="createPublicRoom()" value="Create Public Room">
    </p>
  <h2>Private Rooms</h2>
    <div ng-cloak ng-repeat="room in privateRooms">
      <span ng-show="currentRoomName == room.name">* </span> 
      <a class="room" href="#!/messaging/private/{{room.name}}" ng-click="onRoomSwitch()">{{room.name}}</a>
      <input type="submit" ng-click="removeRoom(room.name)" value="Remove">
    </div>
</div>

<div class="fb-messages-chat">
  <h1 ng-bind="heading"></h1>

  <div class="whoispresent">
    <div>
      <label for="username">Your name: </label>
      <span class="myusername">{{username}}</span>
    </div>

    <div class="users">
      <strong>Online Members <span ng-bind="numMembers"></span>:</strong>
        <div class="user" ng-cloak ng-repeat="member in members">
          {{member}}
        </div>
    </div>
  </div>

  <div class="messages" id="messagesDiv" auto-scroll="messages">
    <div class="message" ng-cloak ng-switch on="message.type" ng-repeat="message in messages">
      <div ng-switch-when="public" 
           class="public chat-line-{{{true: 'own', false: 'foreign'}[message.sender == username]}}">
        <div class="chat-sender">{{message.sender}}</div>
        <div class="chat-content" ng-model="message"
          ng-attr-contenteditable="{{message.sender == username}}">{{message.content}}</div>
      </div>
    </div>
  </div>
  
  <form ng-submit="processMessage()">
    <input id="fb-messages-input" class="fb-message-input" type="text" ng-model="message" ng-trim="false" ng-click="helpClass = helpClass.split(' ')[0] + ' hidden'" placeholder="Message..." required>
    <input type="submit" id="submit" value="Send">
    <div class="helpMesssage" ng-class="helpClass" ng-bind="help"></div>
  </form>
  <div ng-bind-html-unsafe="info"></div>
</div>