<h2>Activity Stream <span ng-clock>({{visibleActivities.length}})</h2>
<p></p>

<div class="activities" id="activitiesDiv" auto-scroll="visibleActivities">
  <details class="activity" ng-cloak ng-repeat="activity in visibleActivities">
    <summary>
      <strong>Message:</strong> {{activity.message}}
      <div>
        <div>
          <strong>User ID:</strong> 
          <a href="" ng-click="createPrivateRoom(username, activity.userID)">
            {{activity.userID}} 
            <span ng-show="userProfiles[activity.userID].fullName">({{activity.userID | getFullName:userProfiles}})</span>
          </a>
        </div>
        <div><strong>Change Time:</strong> {{activity.time | date:'medium'}}</div>
      </div>
    </summary>

    <div class="details">
      <div class="description" ng-show="activity.description">
        <strong>Description:</strong> {{activity.description}}
      </div>
      <div class="changes" id="changesDiv">
        <div ng-cloak ng-repeat="change in activity.changes">
            <details class="change" ng-class="{open: activity.numChanges == 1}"> <!-- Style differently if 'open' -->
              <summary>
                <strong>Change Message:</strong> {{change.message}}
              </summary>
              <div class="details">
                <div><strong>Object UID:</strong> {{change.uid}}</div>
                <div><strong>Event Type:</strong> {{change.eventType}}</div>
                <div class="description" ng-show="change.description"><strong>Change Description:</strong> {{change.description}}</div>
              </div>
            </details>
        </div>
      </div>
    </div>
  </details>
</div>
  
Show All: <input type="checkbox" ng-model="showAll" ng-click="toggleShow()" ng-true-value="true" ng-false-value="false"><br/>
<button ng-click="markSeen()">Mark All as Read</button>