<h2>Activity Stream</h2>
<div>
</div>

<p></p>
<div class="activities" id="activitiesDiv" auto-scroll="activities">
<div class="activity" ng-cloak ng-repeat="activity in activities | activityFilter:filtered:lastSeen">
  <div><strong>Event Type:</strong> {{activity.eventType}}</div>
  <div>
    <strong>UID:</strong> {{activity.uid}}
    <strong>url:</strong> <a href="{{activity.url}}">{{activity.url}}</a>
  </div>
  <div><strong>Message:</strong> {{activity.message}}</div>
  <div><strong>Expires In:</strong> {{activity.expiration | timeFromNow}}</div>
  <div class="description" ng-if="activity.description">
    <strong>Description:</strong> {{activity.description}}
  </div>
  <div><strong>User ID:</strong> {{activity.userID}}</div>
  <div><strong>Timestamp:</strong> {{activity.time | date:'medium'}}</div>
</div>
</div>

<button ng-click="markSeen()">Mark All as Read</button>