<h2>Activity Stream <span ng-clock>({{visibleActivities.length}})</h2>
<p></p>

<div class="activities" id="activitiesDiv" auto-scroll="visibleActivities">
  <div class="activity" ng-cloak ng-repeat="activity in visibleActivities">
    <div>
      <div title="Click to expand" onclick="$(this).parent().next().slideToggle();">
        <div class="arrow-down"></div>
        <strong>Message:</strong> {{activity.message}}
      </div>
      <div class="activity-summary">
        <div>
          <strong>User ID:</strong> 
          <a href="" ng-click="createPrivateRoom(username, activity.userID)">
            {{activity.userID}} 
            <span ng-show="userProfiles[activity.userID].fullName">({{activity.userID | getFullName:userProfiles}})</span>
          </a>
        </div>
        <div><strong>Change Time:</strong> {{activity.time | date:'medium'}}</div>
      </div>
    </div>

    <div class="activity-details">
      <div class="description" ng-show="activity.description">
        <strong>Description:</strong> {{activity.description}}
      </div>
      <div class="changes" id="changesDiv">
        <div ng-cloak ng-repeat="change in activity.changes">
            <div class="change">
              <div title="Click to expand" onclick="$(this).next().slideToggle();">
                <div class="arrow-down"></div>
                <strong>Change Message:</strong> {{change.message}}
              </div>
              <div class="change-details" ng-class="{open: activity.numChanges == 1}">
                <div><strong>Object UID:</strong> {{change.uid}}</div>
                <div><strong>Event Type:</strong> {{change.eventType}}</div>
                <div class="description" ng-show="change.description"><strong>Change Description:</strong> {{change.description}}</div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
Show All: <input type="checkbox" ng-model="showAll" ng-click="toggleShow()" ng-true-value="true" ng-false-value="false"><br/>
<button ng-click="markSeen()">Mark All as Read</button>