<h2>Broadcasts <span ng-cloak>({{visibleBroadcasts.length}})</span></h2>

<div class="broadcasts" id="broadcastsDiv" auto-scroll="visibleBroadcasts">
  <div class="broadcast" ng-cloak ng-repeat="broadcast in visibleBroadcasts">
    <div><strong>Message:</strong> {{broadcast.message}}</div>
    <div>
      <strong>User:</strong> {{broadcast.user}}
      <span ng-show="userProfiles[broadcast.user].fullName">({{broadcast.user | getFullName:userProfiles}})</span>
    </div>
    <div><strong>Timestamp:</strong> {{broadcast.time | date:'medium'}}</div>
    <div><strong>Expiration:</strong> {{broadcast.expiration | date:'medium'}}</div>
  </div>
</div>

Show All: <input type="checkbox" ng-model="showAll" ng-click="toggleShow()" ng-true-value="true" ng-false-value="false"><br/>
<button ng-click="markSeen()">Mark All as Read</button>