<p>
  Pick a link at the top.
</p>

<div ng-show="testingMode">
	<h2>Testing Mode</h2>
	<form ng-submit="changeUser()">
		<div>
			<label for="userId">User ID: </label><input type="text" id="userId" ng-model="userId">
		</div>
		<div>
			<label for="serverId">Server ID: </label><input type="text" id="serverId" ng-model="serverId">
		</div>
		<div>
			<label for="fullName">Full Name: </label><input type="text" id="fullName" ng-model="fullName">
		</div>

		<input type="submit" value="Apply Changes">
	<form>
</div>