<div class="roomList">
  <h1>Rooms</h1>
  
  <h2>Public</h2>
    <div ng-cloak ng-repeat="room in publicRooms | publicRoomFilter:username">
      <a class="room" ng-class="{true:'active', false:''}[currentRoomName == room.name] + {true:' unseen', false:''}[room.seen[username] <
        room.lastMessaged && currentRoomName != room.name]"
        href="#*/messaging/public/{{room.name}}">{{room.name}}</a>
      <input type="submit" ng-hide="room.name == 'main'" ng-click="hideRoom(room.type, room.name, username, currentRoomName)" value="Hide">
    </div>
    <p>
      <input class="fb-newroom-input" type="text" ng-model="newRoomName">
      <input class="fb-newroom-submit" type="submit" ng-click="createPublicRoom(newRoomName)" value="Create">
    </p>

  <h2>Private</h2>
    <div ng-cloak ng-repeat="room in privateRooms | privateRoomFilter:username">
      <a class="room" ng-class="{true:'active', false:''}[currentRoomName == room.name] + {true:' unseen', false:''}[room.seen[username] <
        room.lastMessaged && currentRoomName != room.name]"
        href="#*/messaging/private/{{room.name}}">{{room.name | prettifyRoomName}}</a>
      <input type="submit" ng-click="hideRoom(room.type, room.name, username, currentRoomName)" value="Hide">
    </div>
</div>

<div class="fb-messages-chat">
  <h1 ng-bind="heading"></h1>

  <div class="whoispresent">
    <div>
      <span>Your name:<span>
      <div class="myusername">
        {{username}} <span ng-show="userProfiles[username].fullName">({{username | getFullName:userProfiles}})</span>
      </div>
    </div>

    <div class="users" ng-switch on="usersType">
      <div ng-switch-when="room">
        <strong>Room Members <span ng-cloak>({{userCounts.roomMembers}})</span>:</strong>
        <div class="user" ng-cloak ng-repeat="(user, user) in roomMembers | roomMemberFilter:userCounts">
          <a href="" class="user" ng-click="createPrivateRoom(username, user)" ng-show="user != username" title="{{user.split(':')[0]}}">
            {{user.split(':')[1]}} <span ng-show="userProfiles[user].fullName">({{user | getFullName:userProfiles}})</span>
          </a>
          <span ng-show="user == username" title="{{user.split(':')[0]}}">
            {{user.split(':')[1]}} <span ng-show="userProfiles[user].fullName">({{user | getFullName:userProfiles}})</span>
          </span>
        </div>
      </div>

      <div ng-switch-when="online">
        <strong>Online Users <span ng-cloak>({{userCounts.onlineUsers}})</span>:</strong>
        <div class="user" ng-cloak ng-repeat="(user, user) in users | userFilter:userCounts" title="{{user.split(':')[0]}}">
          <a href="" class="user" ng-click="createPrivateRoom(username, user)" ng-show="user != username">
            {{user.split(':')[1]}} <span ng-show="userProfiles[user].fullName">({{user | getFullName:userProfiles}})</span>
          </a>
          <span ng-show="user == username" title="{{user.split(':')[0]}}">
            {{user.split(':')[1]}} <span ng-show="userProfiles[user].fullName">({{user | getFullName:userProfiles}})</span>
          </span>
        </div>
      </div>
    </div>

    <div class="user-controls">
      <div>Show:</div> 
      <div><input type="radio" name="user-controls" ng-model="usersType" value="online" checked> Online Users</div>
      <div><input type="radio" name="user-controls" ng-model="usersType" value="room"> Room Members</div>
    </div> 
  </div>

  <div class="messages" id="messagesDiv" auto-scroll="messages">
    <div class="more-messages"><button ng-click="showMoreMessages()" ng-show="messages.length >= 50">Show more messages</button></div>
    <div class="message" ng-cloak ng-switch on="message.type" ng-repeat="message in messages | messageFilter:username">
      <div ng-switch-when="public" class="public chat-line-{{{true: 'own', false: 'foreign'}[message.sender == username]}}">
        <img class="user-portrait" ng-init="portraits[message.sender] || getPortraitURL(message.sender)" ng-src="{{portraits[message.sender]}}">
        <div class="chat-sender" title="{{message.sender}}">{{message.sender | getFullName:userProfiles}}</div>
        <div class="chat-content" title="{{message.time | date:'medium'}}" ng-model="message" 
          contenteditable="{{message.sender == username}}" ng-bind-html="message.content"></div>
      </div>
      <div ng-switch-when="server" class="server chat-line-foreign"> <!-- Styling for this needed -->
        <div class="chat-content" title="{{message.time | date:'medium'}}" ng-model="message" ng-bind-html-unsafe="message.content"></div>
      </div>
      <div ng-switch-when="action" class="action chat-line-own"> <!-- Styling for this needed -->
        <img class="user-portrait" ng-init="portraits[message.sender] || getPortraitURL(message.sender)" ng-src="{{portraits[message.sender]}}">
        <div class="chat-sender" title="{{message.sender}}">{{message.sender | getFullName:userProfiles}}</div>
        <div class="chat-content" title="{{message.time | date:'medium'}}" ng-model="message" 
          contenteditable="{{message.sender == username}}" ng-bind-html="message.content"></div>
      </div>
    </div>
  </div>
  
  <form ng-submit="processMessage()">
    <textarea id="fb-message-input" msd-elastic rows="1"
     class="fb-message-input" ng-model="message" ng-enter="processMessage()"
          placeholder="Enter your message..."></textarea>
    <button>Send</button>
    <div class="helpMessage" ng-class="helpMessage.helpClass" ng-bind="helpMessage.help"></div>
  </form>
  <div ng-bind-html-unsafe="info"></div>
</div>