<div class="roomList">
  <h1>Rooms</h1>
  <h2>Public</h2>
    <div ng-cloak ng-repeat="room in publicRooms | publicRoomFilter:ploneUserid">
      <a class="room" ng-class="{true:'active', false:''}[currentRoomName == room.name]"
        href="#*/messaging/public/{{room.name}}">{{room.name}}</a>
      <input type="submit" ng-hide="room.name == 'main'" ng-click="hideRoom(room.type, room.name, username, currentRoomName)" value="Hide">
    </div>
    <p>
      <input class="fb-newroom-input" type="text" ng-model="newRoomName">
      <input class="fb-newroom-submit" type="submit" ng-click="createPublicRoom(newRoomName)" value="Create">
    </p>
  <h2>Private</h2>
    <div ng-cloak ng-repeat="room in privateRooms | privateRoomFilter:ploneUserid">
      <a class="room" ng-class="{true:'active', false:''}[currentRoomName == room.name]"
        href="#*/messaging/private/{{room.name}}">{{room.name | prettifyRoomName}}</a>
      <input type="submit" ng-click="hideRoom(room.type, room.name, username, currentRoomName)" value="Hide">
    </div>
</div>

<div class="fb-messages-chat">
  <h1 ng-bind="heading"></h1>

  <div class="whoispresent">
    <div>
      <label for="username">Your name: </label>
      <span class="myusername">{{username}}</span>
    </div>

    <div class="users">
      <strong>Online Users <span ng-cloak>({{onlineUsers.length}})</span>:</strong>
        <div class="user" ng-cloak ng-repeat="user in onlineUsers | orderBy:usersOrderingPredicate">
          <a href="" class="user" ng-class="{true:'in-room', false:''}[user[user.userid].inRoom]" ng-click="createPrivateRoom(username, user.userid)" ng-show="user.userid != username">
            {{user.userid}} <span ng-show="userProfiles[user.userid].fullName">({{user.userid | getFullName:userProfiles}})</span>
          </a>
          <span ng-class="{true:'in-room', false:''}[user[user.userid].inRoom]" ng-show="user.userid == username">
            {{user.userid}} <span ng-show="userProfiles[user.userid].fullName">({{user.userid | getFullName:userProfiles}})</span>
          </span>
        </div>
    </div>
  </div>

  <div class="messages" id="messagesDiv" auto-scroll="messages">
    <div class="message" ng-cloak ng-switch on="message.type" ng-repeat="message in messages | messageFilter:username">
      <div ng-switch-when="public" class="public chat-line-{{{true: 'own', false: 'foreign'}[message.sender == username]}}">
        <img class="user-potrait" src="{{message.sender | getUserPotrait}}">
        <div class="chat-sender">{{message.sender | getFullName:userProfiles}}</div>
        <div class="chat-content" ng-model="message" contenteditable="{{message.sender == username}}">{{message.content}}</div>
      </div>
      <div ng-switch-when="server" class="server chat-line-foreign"> <!-- Styling for this needed -->
        <div class="chat-content" ng-model="message" ng-bind-html-unsafe="message.content"></div>
      </div>
      <div ng-switch-when="action" class="action chat-line-own"> <!-- Styling for this needed -->
        <img class="user-potrait" src="{{message.sender | getUserPotrait}}">
        <div class="chat-sender">{{message.sender | getFullName:userProfiles}}</div>
        <div class="chat-content" ng-model="message" contenteditable="{{message.sender == username}}"> {{message.content}}</div>
      </div>
    </div>
  </div>
  
  <form ng-submit="processMessage()">
    <input id="fb-messages-input" class="fb-message-input" type="text" ng-model="message" ng-trim="false" ng-click="helpClass = helpClass.split(' ')[0] + ' hidden'" placeholder="Message..." required>
    <input type="submit" id="submit" value="Send">
    <div class="helpMessage" ng-class="helpMessage.helpClass" ng-bind="helpMessage.help"></div>
  </form>
  <div ng-bind-html-unsafe="info"></div>
</div>